body {
	text-align: center;
	width:  800px;
    height: 700px;
	margin: 20px auto;
}

div#greeting {
    font-weight:    bold;
    font-size:  large;
}

div.flame{
    width: 600px;
    height: 600px;
    margin: 20px auto;
    background-color: white;
    border: 5px solid #ccc;
    position: relative;
}

/*div.wrapper {
    top: 350px;
    position: relative;
}*/

img {
    max-width:  600px;
    max-height: 600px;
}

.target{
    margin: auto;
    position:   absolute;
    top:    0;
    bottom: 0;
    left:   0;
    right:  0;
}

/*canvas {
    border: 5px solid #ccc;
}*/
